<nav class="navbar navbar-dark navbar-expand-lg bg-dark border-bottom border-warning" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="#">Triviador</a>
        <button class="navbar-toggler" type="button" data-bs-target="#navbar" data-bs-toggle="collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav mb-2 mb-lg-0 w-100">
                <a href="{% url 'home_url' %}" class="nav-link" aria-current="page">Home</a>
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                    <a href="{% url 'preguntas_url' %}" class="nav-link" aria-current="page">Preguntas</a>
                    {% endif %}
                    <li class="nav-item align-self-center ms-auto me-2">
                        Hola 👋 {{ user.username }}
                    </li>
                    <a href="{% url 'logout' %}" class="nav-link bg-danger rounded text-light">Cerrar sesión</a>
                {% else %}
                    <a class="btn btn-warning ms-md-auto text-dark" href="{% url 'login_url' %}">Iniciar sesión</a>
                    <a class="nav-link ms-2" href="{% url 'register_url' %}">Registrarse</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>